<section class="form-group">
        <form action="/wineries/addwinery" method="POST">
            <label>Name</label>
                <input type="text" name="name" class="form-control" aria-placeholder="Winery Name"/>
            <label>Street Address </label>
                    <input type="text" name="address" class="form-control" aria-placeholder="Street Address"/>
            <label>Street Name</label>
                    <input type="text" name="street"class="form-control"  aria-placeholder="Street Name"/>
            
                <label>City</label>
                    <input type="text" name="city" class="form-control" aria-placeholder="City Name"/>
                
            <label>State</label>
                    <input type="text" name="state" class="form-control" aria-placeholder="State"/>
            <label>Zip Code</label>
                    <input type="text" name="zip" class="form-control" aria-placeholder="Zip Code"/>
           
            <label>Featured Wine</label>
                    <input type="text" name="primary_vine" class="form-control" aria-placeholder="Featured Wine"/>
         <br>
            <button class="btn btn-dark" type="submit">Add New Winery</button>
        </form>
    
    </section>