<form action="/users/signup" method="POST">
    <div class="form-group">
   <label>
       Name
    </label>
       <input type="text" aria-placeholder="Name" name="name">
    </div>
    <div class="form-group">
   <label> Email </label>
       <input type="email" aria-placeholder="Email" name="email">
    </div>
    <div class="form-group">
   <label>
       Password
       <input type="password" aria-placeholder="Password" name="password">
   </label>
    </div>
    <div class="form-group">
   <label>
       City
       <input type="text" aria-placeholder="City" name="city">
   </label>
   <label>
       State
       <input type="test" aria-placeholder="State" name="state">
   </label>
</div>
<div class="form-group">
   <button type="submit">Create My Account</button>
</div>
</form>